<section class="footer card">
    <h3 class="cred1"><a href="/" class="chocolate footerheader"> CCLB</a> <a href="https://flowiz.moe" class="chocolate footerheader">:3</a></h3>
    <h4 class="cred2">Cookie Clicker is property of <a class="hireme" href="https://orteil.dashnet.org" target="_blank">Dashnet</a></h4>
    <div class="selector-container pattern-select">
        <select id="bg-select">
            <option value="default-bg">Default</option>
            <option value="polka-bg">Polka</option>
            <option value="vertical-lines">Vertical Lines</option>
            <option value="horizontal-lines">Horizontal Lines</option>
            <option value="crosses">Crosses</option>
            <option value="gradial-bg">Gradial</option>
            <option value="iso">Iso</option>
            <option value="no-texture">No Texture</option>
          <option value="paper">Paper</option>
        </select>
    </div>
    <div class="selector-container theme-select">
        <select id="theme-select">
            <option value="theme-light">Light</option>
            <option value="theme-dark" selected>Dark</option>
            <option value="theme-cool">Cool</option>
            <option value="theme-warm">Warm</option>
            <option value="theme-muted-light">Muted Light</option>
            <option value="theme-muted-dark">Muted Dark</option>
        </select>
    </div>
</section>